.nn-app {
  background-color: var(--primary-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nn-header-container {
}

.nn-view-container {
  flex-grow: 1;
}

.nn-footer-container {
}
