:root {
  --content-width: 1200px;

  --primary-color: #343434;
  --primary-background-color: #fefefe;

  --font-family-regular: 'Rubik', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  --font-size-normal: 1em;
  --font-size-small: 0.8em;

  --form-button-font-size: 1.4em;
  --form-button-font-weight: var(--font-weight-light);
  --form-button-color: #ffffff;
  --form-button-background: #575555;
  --form-button-padding: 8px 20px 10px 20px;

  --button-font-size: 1.6em;
  --button-font-weight: var(--font-weight-light);

  --label-font-size: 0.9em;
  --label-font-weight: var(--font-weight-regular);

  --validation-error-message-color: #bb0000;
}

:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  font-family: var(--font-family-regular);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-normal);
  user-select: none;
}
